@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
:root {
    --headings: #333333;
    --text: #666666;
    --violet: #d2d2f9;
    --tirkiz: #ccfcff;
    --lightblue: #e1fefa;
    --orange: #ffe3d3;
    --pink: #ffe5f9;
    --gray: #e8e8fc;
    --blue: #1c1ce1;
    --white: #fff;
    --lightgray: #fcfcfc;
    --fontSize: 16px;
    --padding: 50px 0;
    --transition: .3s ease;
    --fontFamily: 'Roboto', sans-serif;
}
/************************
basic styles
************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    color: var(--text);
    line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--headings);
}
.container {
    max-width: 1504px;
    margin: auto;
}
.flexBetween {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.flexEvenly {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;  
}
.flexCenter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;  
}
ul {
    list-style: none;
}
a {
    transition: var(--transition);
}
button {
    padding: 10px;
    font-size: .9rem;
    cursor: pointer;
    border-radius: 5px;
    transition: .1s ease;
    font-weight: 300;
    letter-spacing: 0.5px;
}   
.btnBlue {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
    margin-right: 5px;
}
.btnBlue:hover {
    box-shadow: 4px 4px var(--violet);
    opacity: .9;
}
.btnTransparent {
    background-color: transparent;
    border: 1px solid var(--headings);
}
.btnTransparent:hover {
    color: var(--blue);
    border: 1px solid var(--blue);
    box-shadow: 4px 4px var(--violet);
}
h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 30px;
}
/************************
nav
************************/
nav {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 20px 10px 0;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a {
    color: #515151;
    text-decoration: none;
}
nav ul li:hover a, nav ul li:hover a i {
    color: var(--blue);
}
nav ul li a i {
    color: #b2b2b2;
}
nav input {
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    padding: 14px;
    width: 220px;
}
nav form i {
    position: relative;
    left: -35px;
    color: #515151;
}
nav article a {
    color: var(--headings);
    margin-left: 20px;
    text-decoration: none;
}
nav article form + a {
    margin-left: 0;
}
nav article i {
    font-size: 1.3rem;
}
nav article a:hover {
    color: var(--blue);
}
nav article a + a i {
    transition: var(--transition);
    margin-right: 10px;
    color: var(--text);
}
nav article a + a:hover i{
    transform: scale(1.3);
    color: var(--blue);
}
/************************
header
************************/
header {
    background-image: url(img/hero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 440px;
}
/************************
welcome
************************/
.welcome {
    text-align: center;
    padding: var(--padding);
}
.welcome .element-wrapper{
    height: 30px;
    margin-bottom: 20px;
}
.welcome .element {
    font-weight: 300;
}
.welcome h1 {
    font-size: 2.5rem;
}
.welcome p {
    padding: 30px;
    font-size: 1.2rem;
}
/************************
getStarted
************************/
.getStarted {
    padding: var(--padding);
    background-color: var(--lightgray);
}
.getStarted img {
    width: 100%;
}
.getStarted article {
    flex: 0 0 48%;
}
.getStarted article:first-child {
    padding: 120px;
}
.getStarted p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}
/*************
cards
*************/
.cards {
    background-color: var(--lightgray);
    padding: 50px;
    border-bottom: 1px solid var(--headings);
}
.cards a, .explore a {
    flex: 0 0 49%;
    text-decoration: none;
    border: 1px solid var(--headings);
    box-shadow: 4px 4px var(--violet);
    min-height: 410px;
    transition: .1s ease-in-out;
    margin-bottom: 30px;
    overflow: auto;
}
.cards a:hover, .explore a:hover {
    box-shadow: 0 0 30px lightgray;
    transform: scale(1.02);
    border-radius: 3px;
    background-color: #f3f3f3;
}
.cards article .img, .explore article .img{
    background: rgba(0, 0, 0, 0) radial-gradient(46.28% 66.31% at 66.95% 58.35%, rgb(230, 230, 247) 0%, rgb(231, 237, 250) 50%, rgb(233, 251, 250) 100%) repeat scroll 0% 0%;
    min-height: 260px;
}
.cards .text, .explore .text {
    padding: 0 30px;
}
.cards h3, .explore h3 {
    font-size: 1.45rem;
    margin: 30px 0 20px;
    font-weight: 500;
}
.cards p, .explore p {
    color: var(--text);
    font-weight: 400;
}
/*************
colors
*************/
.colors {
    border-bottom: 1px solid var(--headings);
    padding: var(--padding);
}
.colors img {
    width: 100%;
}
.colors article {
    flex: 0 0 50%;
}
.colors .img {
    padding-left: 30px;
}
.colors .text {
    padding: 100px;
}
.colors p {
    padding-bottom: 30px;
    font-size: 1.2rem;
    line-height: 1.6;
}
.colors h2 {
    font-family: serif;
    font-weight: 600;
}
.colors:nth-child(odd) .text {
    order: -1;
}
.tirkiz {
    background-color: var(--tirkiz);
}
.orange {
    background-color: var(--orange);
}
.lightblue {
    background-color: var(--lightblue);
}
.pink {
    background-color: var(--pink);
}
.gray {
    background-color: var(--gray);
}
.gray article:first-child {
    border: 1px solid var(--headings);
    background-color: var(--white);
    flex: 0 0 42%;
}
.gray article:last-child {
    flex: 0 0 46%;
}
.gray .head {
    border-bottom: 1px solid var(--text);
    background-color: #f7f7f7;
    padding: 15px;
}
.colors.gray .img {
    padding-left: 0;
    margin-left: 50px;
}
.gray .head .color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
.gray .head .color:nth-child(1) {
    background-color: #d46666;
}
.gray .head .color:nth-child(2) {
    background-color: #ffe78e;
}
.gray .head .color:nth-child(3) {
    background-color: #6fc4a0;
}
.gray a {
    display: block;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid lightgray;
    font-weight: 300;
    transition: .1s ease-in-out;
}
.gray a:hover {
    background: var(--violet);
}
.gray a p {
    padding-bottom: 0;
    font-size: 0.9rem;
    color: #929292;
}
.gray a h5 {
    font-size: 1rem;
    font-weight: 300;
}
/*************
today
*************/
.today {
    padding: 80px 50px;
    background-color: var(--lightgray);
}
.today h2 {
    font-weight: 500;
}
.today .col {
    flex: 0 0 50%;
    border: 1px solid var(--headings);
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}
.today > p {
    margin-bottom: 60px;
    font-size: 1.15rem;
}
.today span {
    font-size: 3.8rem;
    color: var(--headings);
    font-weight: 500;
}
.today .col h3 {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 10px;
}
.today a {
    color: var(--headings);
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border: 2px solid var(--headings);
    border-radius: 50%;
    position: relative;
    top: -5px;
    left: 15px;
}
.today a:hover {
    color: var(--blue);
    border: 2px solid var(--blue);
}
.today a i {
    font-size: 0.8rem;
    position: absolute;
    top: 4px;
    left: 7px;
}
/*************
explore
*************/
.explore {
    padding: 80px 60px;
}
.explore a {
    flex: 0 0 32%;
}
.explore img {
    width: 75%;
}
.explore h2 {
    width: 100%;
    padding-bottom: 60px;
}
/*************
contribute
*************/
.contribute {
    background: linear-gradient(60deg, var(--gray),var(--gray),var(--gray), var(--lightblue));
}
.contribute article:first-child {
    flex: 0 0 54%;
    padding: 50px 100px;
}
.contribute article:last-child {
    flex: 0 0 42%;
}
.contribute img {
    width: 95%;
}
.contribute p {
    margin-bottom: 25px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8;
}
/*************
footer
*************/
footer {
    padding: var(--padding);
}
footer article:first-child {
    margin-top: 50px;
}
footer article:first-child p:first-child {
    font-size: .95rem;
}
footer article:first-child a {
    color: #b2b2b2;
    font-size: 2rem;
    margin-left: 10px;
}
footer article:last-child {
    margin-top: 30px;
    align-items: flex-start;
}
footer article:last-child a {
    text-decoration: none;
    color: var(--text);
    line-height: 2.5;
    font-weight: 300;
    font-size: 0.9rem;
}
footer article:last-child h5 {
    font-size: .9rem;
    line-height: 2.5;
}
footer article:last-child a:hover {
    color: var(--blue);
}