@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
:root {
    --headings: #333333;
    --text: #666666;
    --violet: #d2d2f9;
    --tirkiz: #ccfcff;
    --orange: #ffe3d3;
    --pink: #ffe5f9;
    --gray: #e8e8fc;
    --blue: #1c1ce1;
    --lightgray: #fcfcfc;
    --fontSize: 16px;
    --padding: 50px 0;
    --transition: .3s ease;
    --fontFamily: 'Roboto', sans-serif;
}
/************************
basic styles
************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    color: var(--text);
    line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--headings);
}
.container {
    max-width: 1504px;
    width: 100%;
    margin: auto;
}
.flexBetween {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style: none;
}
a {
    transition: var(--transition);
}
/************************
nav
************************/
nav {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 20px 10px 0;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a {
    color: #515151;
    text-decoration: none;
}
nav ul li:hover a, nav ul li:hover a i {
    color: var(--blue);
}
nav ul li a i {
    color: #b2b2b2;
}
nav input {
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    padding: 14px;
    width: 220px;
}
nav form i {
    position: relative;
    left: -35px;
    color: #515151;
}
nav article a {
    color: var(--headings);
    margin-left: 20px;
    text-decoration: none;
}
nav article form + a {
    margin-left: 0;
}
nav article i {
    font-size: 1.3rem;
}
nav article a:hover {
    color: var(--blue);
}
nav article a + a i {
    transition: var(--transition);
    margin-right: 10px;
    color: var(--text);
}
nav article a + a:hover i{
    transform: scale(1.3);
    color: var(--blue);
}
